body {
  margin: 0;
  padding: 0;
}
.LayerImage {
  width: 100%;
}
#background {
  left: 0px;
  /* top: 0px; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;

  overflow: hidden;
  /* z-index: 0; */
}
